.Registo{
  width: 900px;
  height: 570px;
  color: black;
  border: 2px solid white;
  background-color: rgb(255, 255, 255 , 0.4) ;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: auto;
}

.Titulo {
  text-align: center;
  margin-bottom: -10px;
  margin-top: -10px;
  
}

.Titulo h1{
  color: black;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-left: 20px;
}

.Titulo small{
  color: black;
}

.Titulo small:hover{
  text-decoration: underline;
  cursor: default;
  color: rgb(212, 110, 92);
}


.Registo hr{
 width: 60%;
}

.form-group{
  font-size: 15px;
}

.form-group label{
  color:black;
}

.form-group input{
  width: 60%;
  font-size: 12px;
}

.Registo button{
  margin-top : 35px;
 ;
}