.membros {
  color: white;
  display:flex;
  flex-direction: column;
  overflow-y: auto;
}

.membros table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.membros th, .membros td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}

.membros th {
  background-color: #333;
  color: white;
}

.membros button {
  color: red;
  margin-left: 10px;
  cursor: pointer;
}

small{
  text-align: center;
  margin-top:5px;
}